

* {
    margin: 2px;
    padding: 0;
}


.styled-table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.styled-table td {
    border: 1px solid black;
    padding: 8px;
}

p{
    text-align: center;
    margin-bottom: 25px;
}



table {
    text-align: center;
}

div{
    border: 1px solid black;
}

.Navigation{
    text-align: center;
    border-bottom: none;
    border-top: none;
}

.Header {
    padding-bottom: 20px;

}

.Side {
    width: 25%;
    display: inline-block;
    padding-top: 20px;
    padding-right: 50px;
    border-top:none ;
    border-left: none;
    border-bottom: none;
}

.body {
    width: 75%;
    display: inline;
    padding-top: 20px;
    padding-left: 50%;
    border: none;

}


.Footer {
    text-align: center;
}
